.header {
    width: 100%;
    max-width: 1328px;
    height: 100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    background-color: #ffffff;
}

.header__logo {
    align-items: center;
    display: flex;
    margin-top: 5px;
    & img:nth-child(1) {
        margin-right: 18px;
    }
}

.header__logo-item {}

.header__logo-text {}

.header__logo-text1 {
    font-size: 26px;
    font-weight: bold;
    opacity: 0.7;
    line-height: 26px;
    margin-block-start: 12px;
    margin-block-end: -2px;
    color: black;
}

.header__logo-text2 {
    font-size: 10px;
    font-weight: bold;
    opacity: 0.5;
    text-align: center;
    color: black;
}